body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: white;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0px 4px;
}

.filters {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 5px;
}

.filters-left {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    width: 293px;
    justify-content: space-between;

}

.filters-right {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    width: 490px;
}

.filter {
    font-size: 14px;
    cursor: pointer;
    color: #333;
    background-color: #F2F1F1;
    transition: background-color 0.3s, color 0.3s;
    padding: 4px 4px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    white-space: nowrap; /* Запрещаем перенос на новую строку */
}

.filter .filter-count {
    margin-left: 5px;      /* Расстояние между текстом и кружочком */
    width: 25px;
    height: 25px;
    background-color: #FEFEFE; /* Цвет фона кружочка */
    border-radius: 50%;   /* Круглая форма */
    color: #333;          /* Цвет текста */
    font-size: 12px;
    text-align: center;
    line-height: 25px;    /* Выравнивание текста по центру кружочка */
    font-weight: bold;
}

.filter.active {
    background-color: #ADD8E6;
    color: #333;
}

.filter-divider {
    width: 2px; /* Узкая линия */
    background-color: #ccc; /* Цвет разделителя */
    height: 100%; /* Растягиваем на всю высоту контейнера */
    margin-top: 0px; /* Небольшой отступ сверху */
    align-self: stretch; /* Растягиваем разделитель по всей высоте контейнера */
}

.filter-reset {
    font-size: 14px;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 9px;
    background-color: #FFEFEF;
    font-weight: bold;
    transition: background-color 0.2s;

}

.filter-reset:hover {
    background-color: #ffbbbb;
}

.language-switcher {
    display: flex;
    gap: 10px;
    margin-left: auto;
    padding: 0px 40px;
}

.language-switcher button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.language-switcher button:hover {
    background-color: #ddd;
}

#sidebar {
    width: 320px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 10px;
    background: #f8f8f8;
    border-right: 1px solid #ddd;
    position: fixed;
    top: 100px;
    left: 0;
    box-sizing: border-box;
}

#map {
    flex: 1;
    height: 100%;
    margin-left: 320px;
    position: relative;
    z-index: 0;
}

h2, h3 {
    margin: 10px 0;
    font-size: 16px;
}

.place-list {
    margin-bottom: 0px;
}

.place-list h3 {
    margin-top: 20px;
}

.place {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background: white;
    transition: background 0.3s, transform 0.2s;
    border-radius: 8px;
    min-height: 80px;
}

.place:hover {
    background: #f0f0f0;
    transform: scale(1.02);
}

.place img {
    width: 60px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
    flex-shrink: 0;
}

.place-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.place-info h3 {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.place-info p {
    margin: 3px 0 5px;
    font-size: 13px;
    color: #555;
    margin-right: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.leaflet-popup-content-wrapper {
    max-width: 500px !important;
    width: 500px !important;

}

.leaflet-popup-content {
  display: flex;
  flex-direction: row;
    max-width: 500px !important;
    width: 500px !important;
    margin: 13px 24px 13px 10px;
}

.popup-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.popup-content img {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}

.popup-text {
    flex: 1;
    min-width: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-right: 20px;
}

.popup-text h3 {
    margin: 0 0 5px;
    font-size: 16px;
}

.popup-text p {
    margin: 5px 0;
    font-size: 14px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.popup-attributes {
    gap: 8px;
    font-size: 13px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.popup-links {
    display: flex;
    gap: 0px;
    margin: 5px 0;
    font-size: 14px;

}

.popup-links a {
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
}
.popup-links a {
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
}

.icon {
    max-width: 24px;
    max-height: 24px;
}

.filter-icon {
    max-width: 20px;
    max-height: 20px;
    margin-right: 5px;
}

.atr-icon {
    max-width: 18px;
    max-height: 18px;
    margin-right: 0px;
}
